body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #0f172a, #000);
  color: white;
  text-align: center;
}

header {
  padding: 70px;
  animation: fade 2s ease;
}

input, button {
  padding: 12px;
  margin: 8px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  background: #38bdf8;
  cursor: pointer;
}

.hidden {
  display: none;
}

.videos iframe {
  width: 300px;
  height: 170px;
  margin: 10px;
  border-radius: 12px;
}

.gallery img {
  width: 300px;
  margin: 10px;
  border-radius: 14px;
}

audio {
  margin: 10px;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
