body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #020617, #000);
  color: white;
  text-align: center;
}

header {
  padding: 60px 20px;
}

section {
  padding: 40px 20px;
}

.videos iframe {
  width: 300px;
  height: 170px;
  margin: 10px;
  border-radius: 12px;
}

.gallery img {
  width: 300px;
  margin: 10px;
  border-radius: 14px;
}

audio {
  margin: 10px;
}

.hidden {
  display: none;
}

/* Admin UI */
#adminBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0.4;
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#adminBtn:hover {
  opacity: 1;
}

.adminBox {
  position: fixed;
  bottom: 65px;
  right: 15px;
  background: #0f172a;
  padding: 15px;
  border-radius: 12px;
}
